<h1 mat-dialog-title style="text-decoration: underline">
  <strong>New Partial PO</strong>
</h1>

<div mat-dialog-content style="overflow-x: hidden;">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <!-- ====> financialName -->
          <div class="col-sm-4">  <div style="width: 90%">  <mat-form-field> <input matInput type="text" [(ngModel)]="tempPartialPO.financialName"  [ngModelOptions]="{standalone: true}" placeholder="Partial PO Name" required /></mat-form-field>   </div> </div>
          <!-- ====> financialNumber -->
          <div class="col-sm-4">  <div style="width: 90%">  <mat-form-field> <input matInput type="text" [(ngModel)]="tempPartialPO.financialNumber"  [ngModelOptions]="{standalone: true}" placeholder="Partial PO Number" required /></mat-form-field>   </div> </div>
          <!-- ====> amount -->
          <div class="col-sm-4">  <div style="width: 90%">  <mat-form-field> <input matInput type="number" [(ngModel)]="tempPartialPO.value"  [ngModelOptions]="{standalone: true}" placeholder="Value" required /></mat-form-field>   </div> </div>
        </div>
        <hr/>
        <div class="row">
          <!-- ====> description -->
          <div class="col-sm-4">  <div style="width: 90%">  <mat-form-field> <input matInput  type="text" [(ngModel)]="tempPartialPO.description"  [ngModelOptions]="{standalone: true}" placeholder="Description" required /></mat-form-field>   </div> </div>          <!-- ====> start date -->
          <!-- ====> start date -->
          <div class="col-sm-4"> <div style="width: 90%"> <mat-form-field> <input matInput [(ngModel)]="tempPartialPO.startDate"  [ngModelOptions]="{standalone: true}" placeholder="Start Date" required [matDatepicker]="startDate"  disabled> <mat-datepicker-toggle matSuffix [for]="startDate" ></mat-datepicker-toggle> <mat-datepicker #startDate disabled="false"></mat-datepicker></mat-form-field>  </div> </div>
          <!-- ====> end date -->
          <div class="col-sm-4"> <div style="width: 90%"> <mat-form-field>  <input matInput [(ngModel)]="tempPartialPO.endDate"  [ngModelOptions]="{standalone: true}" placeholder="end Date" required [matDatepicker]="endDate"  disabled> <mat-datepicker-toggle matSuffix [for]="endDate" ></mat-datepicker-toggle> <mat-datepicker #endDate disabled="false"></mat-datepicker></mat-form-field> </div> </div>
        </div>
        <hr/>

        <div class="row">
          <!-- ====> fin# -->
          <div class="col-sm-4">  <div style="width: 45%">  <mat-form-field> <mat-select disabled="true" placeholder="Parent PO #" [(ngModel)]="tempPartialPO.financialParent" [ngModelOptions]="{standalone: true}" type="text" required > <mat-option  [value]="tempPartialPO.financialParent" > {{ tempPartialPO.financialParent.financialName }} </mat-option> </mat-select> </mat-form-field> </div> </div>

          <!-- ====> Venrods# -->
          <div class="col-sm-4">  <div style="width: 45%"> <mat-form-field> <mat-select  [compareWith]="compareObjects" placeholder="Select Vendor" [(ngModel)]="tempPartialPO.vendor" [ngModelOptions]="{standalone: true}" type="text" required > <mat-option *ngFor="let selectedVendor of vendors; let i = index" [value]="selectedVendor" > {{ selectedVendor.name }} </mat-option> </mat-select></mat-form-field>  </div> </div>

          <!-- ====> Agreements# -->
          <div class="col-sm-4" *ngIf="tempPartialPO.vendor">  <div style="width: 45%">  <mat-form-field> <mat-select  [compareWith]="compareObjects" placeholder="Select Agreement" [(ngModel)]="tempPartialPO.agreement" [ngModelOptions]="{standalone: true}" type="text" required > <mat-option *ngFor="let selectedAgreement of tempPartialPO.vendor.agreements; let i = index" [value]="selectedAgreement" > {{ selectedAgreement.name }} </mat-option> </mat-select></mat-form-field></div> </div>

        </div>
        <hr/>
        <div class="row">

          <!-- ====> PoType# -->
          <div class="col-sm-4" >  <div style="width: 45%"> <mat-form-field><mat-select placeholder="Select PO Type" [(ngModel)]="tempPartialPO.poType" [ngModelOptions]="{standalone: true}" type="text" required > <mat-option *ngFor="let selectedPOTYPE of poTypes; let i = index" [value]="selectedPOTYPE" > {{ selectedPOTYPE }} </mat-option> </mat-select></mat-form-field>  </div> </div>

          <!-- ====> expenseType# -->
          <div class="col-sm-4" >  <div style="width: 45%"> <mat-form-field> <mat-select placeholder="Select Expense Type" [(ngModel)]="tempPartialPO.expenseType" [ngModelOptions]="{standalone: true}" type="text" required > <mat-option *ngFor="let selectedExpenseType of expenseTypes; let i = index" [value]="selectedExpenseType" > {{ selectedExpenseType }} </mat-option> </mat-select> </mat-form-field>  </div> </div>
        </div>

        <hr/>

        <div class="row">
          <!-- ====> ps -->
          <div class="col-sm-4"> <div style="width: 45%"> <mat-form-field> <mat-select placeholder="is multi Year Agreement"   name="multiYearAgreement" id="multiYearAgreement" type="text" required  [(ngModel)]="tempPartialPO.multiYearAgreement" > <mat-option [value]="true"> Yes </mat-option> <mat-option [value]="false"> No </mat-option> </mat-select> </mat-form-field></div> </div>

          <!-- ====> projectionPlus -->
          <div class="col-sm-4"> <div style="width: 45%"> <mat-form-field> <mat-select placeholder="is Projection Plus"   name="projectionPlus" id="projectionPlus" type="text" required  [(ngModel)]="tempPartialPO.projectionPlus" > <mat-option [value]="true"> Yes </mat-option> <mat-option [value]="false"> No </mat-option> </mat-select> </mat-form-field></div> </div>

          <!-- ====> open -->
          <div class="col-sm-4"> <div style="width: 45%"> <mat-form-field> <mat-select placeholder="Is Open"   name="open" id="open" type="text" required  [(ngModel)]="tempPartialPO.open" > <mat-option [value]="true"> Yes </mat-option> <mat-option [value]="false"> No </mat-option> </mat-select> </mat-form-field></div> </div>

        </div>

        <div class="row">
          <!-- ====> marginPercent -->
          <div class="col-sm-4">  <div style="width: 90%"> <mat-form-field> <input matInput type="number" [(ngModel)]="tempPartialPO.marginPercent" [ngModelOptions]="{standalone: true}" placeholder="Margin Percent" required/> </mat-form-field>  </div> </div>

          <!-- ====> marginCap -->
          <div class="col-sm-4">  <div style="width: 90%"> <mat-form-field> <input matInput type="number" [(ngModel)]="tempPartialPO.marginCap" [ngModelOptions]="{standalone: true}" placeholder="Margin Cap" required/></mat-form-field>  </div> </div>


        </div>


      </div>

    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" (click)="addOrEditPartialPO()" cdkFocusInitial>Save</button>
</div>
