<div class="main-content">
    <div class="container-fluid">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Select Voucher that need to be stop</h4>

                        <ngx-table
                                [configuration]="configuration" [data]="voucher.data" (event)="eventEmitted($event)" [columns]="columns">
                            <ng-template let-row>
                                <td width="10px" align="center">

                                    <div class="checkbox form-horizontal-checkbox">
                                            <label><input (change)="addToList(row, $event.target.checked)"
                                                   type="checkbox"
                                                   name="optionsCheckboxes">
                                            </label>
                                    </div>
                                </td>
                                <td>{{row.VOUCHER_ID}}</td>
                                <td>{{row.VOUCHER_NAME}}</td>
                            </ng-template>
                        </ngx-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>