<app-loading *ngIf="isLoading"></app-loading>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title style="font-weight: bold;">{{generalDepartment.gd.gdEnName}} -
        {{generalDepartment.gd.gdArName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div style="align-content: right;" class="col-md-offset-10 col-md-2">
          <button class="btn btn-success btn-round" #tooltip="matTooltip" matTooltip="Add new department"
            (click)="addDepartment()">Add Department</button>
        </div>
      </div>
      <div *ngIf="newDepartment">
        <mat-form-field>
          <input placeholder="Department Number" name="departmentNumber" [(ngModel)]="newDepartment.departmentNumber"
            matInput type="number">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="English Name" name="departmentEnglishName"
            [(ngModel)]="newDepartment.departmentEnglishName" matInput type="text">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Arabic Name" name="departmentArabicName" [(ngModel)]="newDepartment.departmentArabicName"
            matInput type="text">
        </mat-form-field>
        <button type="submit" class="btn btn-sm btn-primary" (click)="addNewDepartment(i)">Confirm</button>
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="generalDepartment.gd.departments" class="row" style="margin-left: 2px; font-size: 18px;">
        <div class="col-md-2">Dep. Number</div>
        <div class="col-md-4">Department English Name</div>
        <div class="col-md-4">Department Arabic Name</div>
      </div>
      <div *ngFor="let dp of generalDepartment.gd.departments; let i = index">
        <mat-accordion>
          <mat-expansion-panel [expanded]="selectedDep === i" (opened)="setSelectedDep(i)" hideToggle
            (click)="cliked=(department)" #department='matExpansionPanel'>
            <mat-expansion-panel-header style="color: #fff; background-color: rgb(236, 236, 236); 
            border-style: groove; border-width: 1px; border-color: rgb(0, 0, 0);">
              <mat-panel-title>

                <div class="col-md-2">
                  <mat-form-field style="width: 80%;">
                    <input matInput name="departmentNumber" [disabled]="!dp.editable" [(ngModel)]="dp.departmentNumber"
                      type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field style="width: 95%;">
                    <input matInput name="departmentEnglishName" [disabled]="!dp.editable"
                      [(ngModel)]="dp.departmentEnglishName" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field style="width: 95%;">
                    <input matInput name="departmentArabicName" [disabled]="!dp.editable"
                      [(ngModel)]="dp.departmentArabicName" type="text">
                  </mat-form-field>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <div class="table-responsive">
                <table style="border: groove;" *ngIf="selectedGd==null" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 20%;">Section Number</th>
                      <th> English Name </th>
                      <th>Arabic Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let section of dp.sections; let j = index">
                      <td class="text-center">
                        <mat-form-field style="width: 90%;">
                          <input [disabled]="!section.editable" name="sectionNumber" matInput style="width: 100X;"
                            [(ngModel)]="section.sectionNumber">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 90%;">
                          <input [disabled]="!section.editable" name="sectionEnglishName" matInput style="width: 100X;"
                            [(ngModel)]="section.sectionEnglishName">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 90%;">
                          <input [disabled]="!section.editable" name="sectionArabicName" matInput style="width: 100X;"
                            [(ngModel)]="section.sectionArabicName">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="newSection">
                      <td>
                        <input name="sectionNumber" placeholder="Section Number" [(ngModel)]="newSection.sectionNumber"
                          matInput type="text">
                      </td>
                      <td>
                        <input name="sectionEnglishName" placeholder="English Name"
                          [(ngModel)]="newSection.sectionEnglishName" matInput type="text">
                      </td>
                      <td>
                        <div class="col-md-8">
                          <input name="sectionArabicName" placeholder="Arabic Name"
                            [(ngModel)]="newSection.sectionArabicName" matInput type="text">
                        </div>
                        <div class="col-md-4">
                          <button type="submit" class="btn btn-primary btn-sm"
                            (click)="addNewSection(i)">Confirm</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="btn btn-success btn-round" (click)="addSection(i)">Add Section</button>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-divider style="margin-top: 5px;"></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
</div>
