<div class="main-content">
    <div class="container-fluid">
        <app-loading *ngIf="isLoading"></app-loading>
        <app-form (onSubmit)="submitForm($event)"></app-form>
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Role Monthly Cost - Chart
                    <small> - Rounded</small>
                </h4>
            </div>
            <div id="colouredBarsChart" class="ct-chart"></div>
            <div>
                <canvas *ngIf="datasets && datasets.length > 0"
                        baseChart
                        [datasets]="datasets"
                        [labels]="actualMonths"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">
                </canvas>
            </div>
        </div>

    </div>
</div>
